params {
    dataset_link = "https://massive.ucsd.edu/ProteoSAFe/DownloadResult?view=candidate_library_spectra&task=82c0124b6053407fa41ba98f53fd8d89"
    out_dir = "results"
    testing = "false"
    work_dir = "scratch"
    input_file = null

}
process{
container = 'wanneslamberts2000/massivekb_pipeline:latest'

withLabel:low_cpu{
        cpus   = 1
        memory = 2.GB
    }
    errorStrategy = {
        if (task.attempt < 3) {
            return 'retry'
        } else {
            def logFile = new File('Failed_processes.txt')

            logFile << "${task_id},${task.hash}\n"
            return 'ignore'
        }
    }
    maxRetries = 3
}

docker.enabled = true
workDir = params.work_dir


