includeConfig 'params'
workDir = params.work_dir
process{
container = 'wanneslamberts2000/massivekb_pipeline:latest'

withLabel:low_cpu{
        cpus   = 1
        memory = 2.GB
    }
    errorStrategy = {
        if (task.attempt < 3) {
            return 'retry'
        } else {
            def logFile = new File('Failed_processes.txt')

            logFile << "${task_id},${task.hash}\n"
            return 'ignore'
        }
    }
    maxRetries = 3
}

docker.enabled = true


