params {
    dataset_link = "https://massive.ucsd.edu/ProteoSAFe/DownloadResult?view=candidate_library_spectra&task=82c0124b6053407fa41ba98f53fd8d89"
    testing = "false"
    clusterOptions = null
    input_tasks = null
    out_dir = null
    work_dir = null
    max_processes = 10
}
process{
    maxForks = params.max_processes
    executor='slurm'
    container = 'wanneslamberts2000/massivekb_pipeline:latest'
    clusterOptions = {"${params.clusterOptions ?:''}"}
    errorStrategy 'ignore'

}
workDir = params.work_dir
apptainer.enabled = true
